body {
  background-color: #1a1a1b;
}

.App {
  background-color: grey;
  margin: 0 auto;
  text-align: center;
  margin-top: 5rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 20px;
  width: 70%;
  height: 80%;
}
